
/* General */
.site_sidebar
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: calc(100vw - 20vw);
    width: 20vw;
    height: 100vh;
    background-color: #0e0e0e;
}

.site_align_vertical_column
{
    display:flex;
    flex-direction: column;
}

/** Search **/
.site_search
{
    position: absolute;
    margin-right: 0;
    padding: 2.6vh;
    padding-left: 0 !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 10vh;
}

.site_search input
{
    position: absolute;
    margin-left: 0;
    margin-top: 3.5vh;
    top: 0;
    bottom: 0;
    width: 2.34vw;
    height: 3.25vh;
    outline: none;
    border: none;
    background: darkolivegreen;
    color: white;
    text-shadow: 0 0 1vh forestgreen;
    padding: 0 2.67vh 0 2.67vh;
    border-radius: 3.25vh;
    box-shadow: 0 0 2.7vh 0 darkgreen,
    0 2.17vh 2.7vh 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    letter-spacing: 0.1em;
    pointer-events: none;
}

.site_search input:focus
{
    width: 13vw;
    height:3vh;
    opacity: 1;
    cursor: text;
    font-size: 1vh;
}

.site_search input::placeholder
{
    color: white;
    opacity: 0.5;
    font-size: 1vh;
}

.search
{
    position: absolute;
    margin-left: -0.5vw;
    margin-top: 3vh;
    top: 0;
    bottom: 0;
    width: 3.125vw;
    height: 4.335vh;
    background: forestgreen;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.4);
}

.search:hover
{
    cursor: pointer;
}

.search::before
{
    content: "";
    position: absolute;
    margin: auto;
    top: 2.6vh;
    right: 1vw;
    bottom: 0.5vh;
    left: 1.75vw;
    width: 0.85vw;
    height: 0.21vh;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}

.search::after
{
    content: "";
    position: absolute;
    margin: auto;
    top: -0.5vh;
    right: 0;
    bottom: 0;
    left: -0.39vw;
    width: 1.65vw;
    height: 2.2vh;
    border-radius: 50%;
    border: 0.21vh solid white;
    transition: all .5s;
}

.site_search input:focus ~ .search
{
    background: #104338;
    z-index: 6;
    margin-left: 13.5vw;
}

/** Character **/
.site_character
{
    padding: 0 4vh 2.6vh 0 !important;
    position:fixed;
    width:20vw;
    height:45vh;
    top:10vh;
    display: none;
}

.site_character_details
{
    padding: 0 0 0 0.5vh !important;
    font-size: 1.5vh;
    text-align: center;
}

.site_character_image
{
    width:100%;
    border-radius: 30%;
}

.site_label
{
    color: #C7FFFC;
}

/** Chart **/
#site_chart
{
    padding: 0 6vh 4vh 0 !important;
    position:fixed;
    width:20vw;
    height:45vh;
    top:55vh;
}

#site_chart div, #site_chart table
{
    width: 100%;
    height: 100%;
}

.bars td
{
    vertical-align: bottom;
    width: 3vw;
}

.bars div:hover
{
    opacity: 0.6;
    cursor: pointer;
    transition: all 1s;
}

.bars .male
{
    background-color: #1b4c4e;
}

.bars .female
{
    background-color: #0e9483;
}

.bars .unknown
{
    background-color: #57e1ac;
}

.legend
{
    vertical-align: bottom;
    text-align: left;
    font-size: 1vh;
    height: 0;
}

.leg_box {
    text-align: center;
}
