
/** Content **/
.site_content
{
    position: fixed;
    height: calc(100vh - 12vh);
    width:calc(100vw - 20vw);
    top: 12vh;
    left: 0;
    padding: 4vh;
}

.site_cards
{
    position: fixed;
    width: calc(100vw - 26.5vw);
    height: calc(100vh - 24vh);
  /*  background-color: #45ad6e;*/
}

.site_pagination
{
    position: fixed;
    width: calc(100vw - 26.5vw);
    height: 4vh;
    top: calc(100vh - 8vh);
    text-align: center;
    display: flex;
}

/** Cards **/
.site_card
{
    width: 14.7vw;
    height: 100%;
    padding: 0.5vh;
}

.site_card_image
{
    border-radius: 30% !important;
    display: none;
    height: 100%;
    margin: auto;
}


.site_card_image:hover
{
    border: solid #fff71f 1vh;
    cursor: pointer;
}

.site_selected_card
{
    border: solid #fff71f 1vh;
    cursor: pointer;
}

.site_cards_row_1
{
    margin: 0 !important;
    height: 18.95vh;
}

.site_cards_row_2
{
    margin: 0 !important;
    height: 18.95vh;
}

.site_cards_row_3
{
    margin: 0 !important;
    height: 18.95vh;
}

.site_cards_row_4
{
    margin: 0 !important;
    height: 18.95vh;
}

.site_card_1
{
    padding-top: 2vh;
}

.site_card_1_1, .site_card_2_1, .site_card_3_1, .site_card_4_1
{
    padding-left: 2vh;
}

.site_card_1_4, .site_card_2_4, .site_card_3_4, .site_card_4_4
{
    padding-right: 2vh;
}

.site_card_4
{
    padding-bottom: 2vh;
}

/** Pagination **/
.site_pagination_icon
{
    padding: 1vh;
    cursor: pointer;
    display: none;
}

.site_pagination_name
{
    padding: 0.5vh;
}

.site_pagination_container
{
    margin: auto;
    display: flex;
    color: #4eaf28;
}